$green-selected: #7AB114 ;

.common-tab{
    width: 200px;
    height: 25px;
    padding: 0 0 0 10px;
    cursor: pointer;
}
.selected-tab{
    
    color:$green-selected;
    border-bottom: 5px solid $green-selected;
}
.unselected-tab{
   
    color:#2A3D6E;
}
@media screen and (max-width: 40em) {
    .common-tab{
        width: 200px;
        height: 45px;
        padding: 0 0 0 10px;
        cursor: pointer;
    }
}