.common-tab{
    width: 200px;
    height: 25px;
    padding: 0 0 0 10px;
    cursor: pointer;
}
.selected-tab{
    
    color:green;
    border-bottom: 5px solid green;
}
.unselected-tab{
   
    color:inherit;
}